In [1]:
#1. Create a tuple with integers from 1 to 5.
t = (1,2,3,4,5,6,7,8,9,10)
t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#2. Access the third element of a tuple.
t = (1,2,3,4,5,6,7,8,9,10)
t[3]

4

In [4]:
#3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5,6,7,8,9,10)
count = 0
for i in t:
    count += 1
print(count)

10

In [8]:
#4. Count the occurrences of an element in a tuple.
t = (1,2,3,4,5,6,6,7,8,6,5,67,8,9,10)
t.count(6)

3

In [12]:
#5. Find the index of the first occurrence of an element in a tuple.
t = (1,2,3,4,5,6,6,7,8,6,5,67,8,9,10)
for i in t:
    if i == 6:
        break;
print(t.index(i))

5

In [14]:
#6. Check if an element exists in a tuple.
t = (1,2,3,4,5,6,6,7,8,6,5,67,8,9,10)
number = 5
if number in t:
    print("the number is present in t")
else:
    print("number is not present in t")

the number is present in t

In [19]:
#7. Convert a tuple to a list.
t = (1,2,3,4,5,6,6,7,8,6,5,67,8,9,10)
list(t)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 6, 5, 67, 8, 9, 10]

In [24]:
#8. Convert a list to a tuple.
li = [1,2,3,4,5,6]
t = tuple(li)
type(t)

tuple

In [27]:
#9. Unpack the elements of a tuple into variables.
t = (1,2,3,45,56)
a,b,c,d,e = t
print(f"{a} {b} {c} {d} {e}" )

1 2 3 45 56

In [30]:
#10. Create a tuple of even numbers from 1 to 10.
li = []
for i in range (1,11):
    if i%2 == 0:
        li.append(i)
t = tuple(li)
print(t)
type(t)

(2, 4, 6, 8, 10)

tuple